body {
    background-color: darkgray;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h1 {
    margin-top: .5em;
}

#profile {
    width: 150px;
    margin-right: 10%;
}

#leaderboard {
    width:100px;
    margin-left: 10%;
}

menu {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.circle_container {
    display: flex;  
    align-items: flex-end; 
    justify-content: center;
    margin-top: 2%;
}

#big_circle {
    width: 150px;
    height: 150px;
}

.option {
    margin-right: 1%; 
    margin-left: 1%; 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: white; 
    border: 3px solid black;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}
